---
import type { Code } from "astro:components";
import type { Image } from "astro:assets";
import ProgressMe from "../progress/Progress.astro";
const title = 'About Me!!'
const description = 'Hello, my name is Darwin Junior Mendoza Mercado, and I currently reside in Colombia. I have one year of experience as a junior web developer, specializing in the use of the Angular framework. Previously, I also worked as a web designer, providing me with a solid understanding of design and structure in web development. In my free time, I strive to stay updated by learning new technologies that expand my skill set. In addition to my passion for programming, I enjoy music; during my breaks, I play the piano and guitar to relax and maintain a balance between creativity and technicality. I am excited to continue growing professionally and exploring new opportunities in the world of web development.'
---

<section>
    <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-8">
        <h1
            class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl"
        >
        { title }
        </h1>
        <p 
          class="mb-8 text-lg text-left font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48 text-pretty"
        >
           { description }
        </p>
        <div class="w-3/4 m-auto pl-10">
          <ProgressMe />
        </div>
    </div>
</section>