---
import "./Nabvar.astro.css";
import DevYellow from '../code-svg/DevYellow.astro';

const nameLogo = "DJMM";
const menu = ["Home", "Experience", "Projects", "About me", "Contact me"];

---

<nav class="p-1 md:p-3 text-white shadow md:flex md:justify-between md:items-center">
  <div class="flex items-center justify-between">
    <span class="flex gap-2 text-2xl cursor-pointer">
      <DevYellow class="w-9 h-9" />
      { nameLogo }
    </span>
    <span class="text-4xl md:hidden btnMenu">
      <ion-icon name="menu-outline" onclick="showMenu()"></ion-icon>
    </span>
  </div>
  <ul class=" hidden transition-all ease-in duration-500 right-0 left-0 md:flex md:items-center md:justify-between md:static absolute">
    {menu.map(listMenu => <li class="text-[1.1rem] hover:text-rose-600 py-4 md:py-0 duration-75 mx-4 my-7 md:my-0 text-center"> <a href="#">{ listMenu }</a></li>)}
  </ul>
</nav>