---
import BaseLayout from "../layouts/BaseLayout.astro";
import Skill from '../components/skill/Skill.astro';
import Experience from '../components/experience/Experience.astro';
import Projects from '../components/projects/Projects.astro';
import CodeSource from '../components/code-svg/CodeSource.astro';
import AboutMe from '../components/about-me/AboutMe.astro';
import Contact from '../components/contact/Contact.astro';

const pageTitle = "Pagina de inicio";
const project = 'Project Experience';
const title = 'Projecto radicando';
---

<BaseLayout pageTitle={pageTitle}>
 <div class="slider">
  <div class="slider_container flex justify-center items-center w-3/4 m-auto py-[16rem]">
    <div class="slider_container-content text-center md:text-left flex flex-col">
      <div>
        <small class="text-3xl md:text-5xl">I am</small>
        <h1 class="text-4xl md:text-7xl"> <span class="text-red-700">Darwin</span> Jun<span class="text-amber-400">i</span><span class="text-red-600">o</span>r</h1>
        <span class="text-2xl">Frontend junior <span class="text-amber-400">developer</span></span>
      </div>
      <div class="hidden gap-5 mt-4 md:flex">
        <Skill />
      </div>
    </div>
  </div>
 </div>
 <section class="section-experience">
  <div class="slider_container flex flex-col gap-5 justify-center items-center w-3/4 m-auto pt-56">
    <Experience />
  </div>
 </section>
 <section class="section-projects pb-56">
  <div class="slider_container flex flex-col justify-start items-center w-3/4 m-auto pt-56">
    <h2 class="text-4xl md:text-5xl mb-20 flex gap-3 items-center border-dashed border-2 border-sky-500 p-2">
      <CodeSource class="size-10" />
      { project }
    </h2>
    <Projects title={ title } />
  </div>
 </section>
 <AboutMe />
 <Contact />
</BaseLayout>