---
const Experiencie = [
  {
    title: 'Experience'
  }
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  <span class="text-6xl ml-2" id="Experience">Experience</span>                  
  <li class="mb-10 mt-5 ms-4 text-pretty">
      <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
      <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">April 2023</time>
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white mb-2">FRONT END JUNIOR DEVELOPER</h3>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        As a web developer, my focus is on efficiently responding to team requests, continually improving my programming skills, and actively seeking ways to optimize processes and enterprise software. I specialize in adapting web designs for various devices, translating them into HTML and CSS code, and structuring content semantically. My experience includes programming, modifying, and maintaining websites, with strong expertise in Angular and effective Bootstrap implementation.
      </p>
  </li>
  <li class="mb-10 ms-4 w-auto">
      <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
      <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">April 2022 - Dicember 2022</time>
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white mb-2"> WEB DESIGNER </h3>
      <p class="text-base font-normal text-gray-500 dark:text-gray-400">
        As a web developer, I am adept at responding to development team requests. My expertise extends to adapting web designs for diverse devices and browsers, translating site designs into HTML and CSS code, and structuring content semantically. I excel in programming, modifying, and maintaining websites, bringing proficiency in Bootstrap implementation to enhance the overall web development process.
      </p>
  </li>
</ol>

